S3method(circonus,default)
S3method(circonus,fetch_numeric)
S3method(circonus,fetch_histogram)
S3method(circonus,fetch_generic)
importFrom(RCurl, getCurlHandle, curlSetOpt, getURL)
import(rjson)
export(circonus.default)
export(circonus.fetch_numeric)
export(circonus.fetch_histogram)
export(circonus.fetch_generic)
export(circonus.nntagg)
